@media only screen and (min-width: 600px) {
  #to-inputbox {
    width: 50%;
    margin-left: 16px;
  }
  #from-inputbox {
    width: 50%;
  }
  #sub-category,
  #Brand-options {
    margin-bottom: -27px;
    text-align: left;
  }

  #color-picker {
    width: 100px;
  }
  .card-width {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #to-inputbox {
    width: 50%;
    margin-left: 16px;
  }
  #from-inputbox {
    width: 50%;
  }
  #sub-category,
  #Brand-options {
    margin-bottom: -27px;
    text-align: left;
  }

  #color-picker {
    width: 100px;
  }
  .card-width {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #to-inputbox {
    width: 50%;
    margin-left: 16px;
  }
  #from-inputbox {
    width: 50%;
  }
  #sub-category,
  #Brand-options {
    margin-bottom: -27px;
    text-align: left;
  }

  #color-picker {
    width: 100px;
  }
  .card-width {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #to-inputbox {
    width: 50%;
    margin-left: 16px;
  }
  #from-inputbox {
    width: 50%;
  }
  #sub-category,
  #Brand-options {
    margin-bottom: -27px;
    text-align: left;
  }

  #color-picker {
    width: 100px;
  }
  .card-width {
    width: 100%;
  }
}
