$border-radius: 20px;

$primary: #556;
$base: #071739;
$shadow-color: #8c8c8c;
$lighter-shadow: rgba($shadow-color, 0.2);
$white: #fff;
$gray: #8c8c8c;
$lighter-gray: rgba($gray, 0.1);
$time-line-width: 240px;
$transition: 0.3s all ease;

@mixin dragIndicator($property, $background, $z-index) {
  #{$property} {
    position: absolute;
    top: 0;
    z-index: $z-index;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background: $background;
    &:hover {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
    }
    &::before {
      opacity: 0;
      content: attr(data-content);
      display: block;
      position: absolute;
      top: -40px;
      right: -23px;
      width: 40px;
      padding: 3px;
      text-align: center;
      color: white;
      background: $shadow-color;
      border-radius: $border-radius;
    }
    &::after {
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      top: -18px;
      right: -8px;
      border-top: 8px solid $shadow-color;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    #{$property}-drag {
      position: absolute;
      right: -7.5px;
      top: -5px;

      width: 15px;
      height: 15px;

      border-radius: 50%;
      background: $base;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 0 0 6px $lighter-shadow;
      }
    }
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: $base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $lighter-gray;

  .current-value {
    width: 100%;

    label {
      display: inline-flex;
      width: 50px;
      font-size: 20px;
    }
  }

  #slider {
    position: relative;
    margin: 0 auto;
    // width: $time-line-width;
    height: 8px;
    background: $primary;
    border-radius: 8px;
    cursor: pointer;

    @include dragIndicator("#min", $primary, 2);
    @include dragIndicator("#max", $shadow-color, 1);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px $primary;
}

@media only screen and (min-width: 600px) {
  #min-input {
    width: 100px;
    height: 30px;
    margin-left: 15px;
  }
  #max-input {
    width: 100px;
    height: 30px;
    margin-left: 14px;
  }
  .current-value {
    margin-top: 20px;
    margin-left: 25px;
    display: inline;
  }
  .values {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -12px;
    width: 332px;
  }
}
@media only screen and (max-width: 600px) {
  #min-input {
    width: 100%;
    height: 30px;
    margin-left: 15px;
  }
  #max-input {
    width: 100%;
    height: 30px;
    margin-left: 14px;
  }
  .current-value {
    margin-top: 20px;
    margin-left: 25px;
    display: inline;
  }
  .values {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -12px;
    width: 332px;
  }
}
@media only screen and (min-width: 768px) {
  #min-input {
    width: 100px;
    height: 30px;
    margin-left: 15px;
  }
  #max-input {
    width: 100px;
    height: 30px;
    margin-left: 14px;
  }
  .current-value {
    margin-top: 20px;
    margin-left: 25px;
    display: inline;
  }
  .values {
    width: 176px;
  }
}
@media only screen and (min-width: 992px) {
  #min-input {
    width: 100px;
    height: 30px;
    margin-left: 15px;
  }
  #max-input {
    width: 100px;
    height: 30px;
    margin-left: 14px;
  }
  .current-value {
    margin-top: 20px;
    margin-left: 25px;
    display: inline;
  }
  .values {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -12px;
    width: 178px;
  }
}
