@media only screen and (min-width: 600px) {
  .retailer-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .r-otp-bg {
    background-color: white;
    font-weight: bolder;
  }
  .r-sign-title {
    font-weight: bolder;
  }
  .sign-logo {
    margin-left: 40px;
    height: 53px;
    width: 118px;
  }
}
@media only screen and (max-width: 600px) {
  .retailer-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 16%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .r-otp-bg {
    background-color: white;
    font-weight: bolder;
  }
  .r-sign-title {
    font-weight: bolder;
  }
  .sign-logo {
    margin-left: 40px;
    height: 53px;
    width: 118px;
  }
}
@media only screen and (min-width: 768px) {
  .retailer-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .r-otp-bg {
    background-color: white;
    font-weight: bolder;
  }
  .r-sign-title {
    font-weight: bolder;
  }
  .r-sign-logo {
    margin-left: 40px;
    height: 53px;
    width: 118px;
  }
}
@media only screen and (min-width: 992px) {
  .retailer-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .r-otp-bg {
    background-color: white;
    font-weight: bolder;
  }
  .r-sign-title {
    font-weight: bolder;
  }
  .r-sign-logo {
    margin-left: 17px;
    height: 53px;
    width: 118px;
  }
}
