@media only screen and (min-width: 600px) {
  .signup-form {
    width: 30%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .signup {
    background-color: white;
    font-weight: bolder;
  }
  .signup-title {
    font-weight: bolder;
  }
  .signup-logo {
    margin-left: 17px;
    height: 53px;
    width: 118px;
  }
  .link {
    text-decoration: underline;
    margin-top: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .signup-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 16%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }

  .radio-btn {
    display: inline-flex;
  }
  .signup {
    background-color: white;
    font-weight: bolder;
  }
  .signup-title {
    font-weight: bolder;
  }
  .signup-logo {
    margin-left: 17px;
    height: 53px;
    width: 118px;
  }
  .link {
    text-decoration: underline;
    margin-top: 2px;
  }
}
@media only screen and (min-width: 768px) {
  .signup-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    background-color: whitesmoke;
    padding: 4%;
    border-radius: 1px;
  }
  .radio-btn {
    display: inline-flex;
  }

  .signup {
    background-color: white;
    font-weight: bolder;
  }
  .signup-title {
    font-weight: bolder;
  }
  .signup-logo {
    margin-left: 17px;
    height: 53px;
    width: 118px;
  }
  .link {
    text-decoration: underline;
    margin-top: 2px;
  }
}
@media only screen and (min-width: 992px) {
  .signup-form {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 20%;
    background-color: whitesmoke;
    padding: 0%;
    border-radius: 1px;
  }
  .radio-btn {
    display: inline-flex;
  }

  .signup {
    background-color: white;
    font-weight: bolder;
  }
  .signup-title {
    font-weight: bolder;
  }
  .signup-logo {
    margin-left: 17px;
    height: 53px;
    width: 118px;
  }
  .link {
    text-decoration: underline;
    margin-top: 2px;
  }
}
