@media only screen and (min-width: 600px) {
  .flow-con {
    padding-left: 91px;
    padding-right: 91px;
  }
  .flow-icon {
    padding-left: 27px;
    margin-left: 94px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .flow-con {
    padding-left: 91px;
    padding-right: 91px;
  }
  .flow-icon {
    padding-left: 27px;
    margin-left: 94px;
    width: 100%;
  }
  .flow-title {
    padding-left: 534px;
  }
}
@media only screen and (min-width: 768px) {
  .flow-con {
    padding-left: 91px;
    padding-right: 91px;
  }
  .flow-icon {
    padding-left: 27px;
    margin-left: 94px;
    width: 100%;
  }
  .flow-title {
    padding-left: 534px;
  }
}
@media only screen and (min-width: 992px) {
  .flow-con {
    padding-left: 91px;
    padding-right: 91px;
  }
  .flow-icon {
    padding-left: 27px;
    margin-left: 94px;
    width: 100%;
  }
  .flow-title {
    padding-left: 534px;
  }
}
