.brand-card {
  //   width: 19rem;
  height: 210px;
  background-color: whitesmoke;
}
.brand-img {
  padding-left: 16px;
  width: 289px;
  height: 800px;
  padding-top: 14px;
}
.brand-title {
  font-size: medium;
  text-align: center;
  width: 247px;
}
