.user-type-row {
  margin-top: 10px;
  border: 1px solid black;
}

.user-type-btn {
  background-color: rgb(204, 204, 204);
  // border: 1px solid black;
  cursor: pointer;
}

.user-type-btn:hover {
  background-color: darkgray;
  // border: 1px solid black;
  cursor: pointer;
}
