@media only screen and (min-width: 600px) {
  #Fullview {
    height: 291px;
    width: 70%;
    margin-left: 103px;

    margin-top: -520px;
    border-style: groove;
    border-radius: 1px;
  }
  #imageoptions {
    height: 116px;
    width: 100px;
    margin-left: 0px;
    margin-top: 10px;
    border-style: groove;
    border-radius: 1px;
  }
}
@media only screen and (max-width: 600px) {
  #Fullview {
    height: 293px;
    width: 70%;
    margin-left: 103px;

    margin-top: -520px;
    border-style: groove;
    border-radius: 1px;
  }
  #imageoptions {
    height: 116px;
    width: 100px;
    margin-left: 7px;
    margin-top: 10px;
    border-style: groove;
    border-radius: 1px;
  }
}
@media only screen and (min-width: 768px) {
  #Fullview {
    height: 495px;
    width: 70%;
    margin-left: 116px;

    margin-top: -520px;
    border-style: groove;
    border-radius: 1px;
  }
  #imageoptions {
    height: 116px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-style: groove;
    border-radius: 1px;
  }
}
@media only screen and (min-width: 992px) {
  #Fullview {
    height: 371px;
    width: 68%;
    margin-left: 140px;

    margin-top: -428px;
    border-style: groove;
    border-radius: 1px;
  }
  #imageoptions {
    height: 101px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    border-style: groove;
    border-radius: 1px;
  }
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1px;
}
